.TodoSearch {
    background: #f9fbfc;
    border-radius: 5px;
    border: 2px solid cadetblue;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: montserrat;
    font-weight: 400;
    color: #1e1e1f;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .25)
}

.TodoSearch::placeholder {
    color: #888686;
    font-family: montserrat;
    font-weight: 400
}

.TodoSearch:focus {
    outline-color: cadetblue
}